*{
    margin: 0;
    padding: 0;
}
.hr{
    width: 5em !important;
    height: 0.3em !important;
    border: 1px solid orange !important;
    border-radius: 25%;
}
.top{
    text-align: center !important;
    color: #fff;
}