*{
    margin: 0;
    padding: 0;
}
.image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.small{
    position: absolute;
    top: 40%;
    right: 5%;
    padding: 1em;
    height: 20%;
    overflow: hidden;
}