* {
  margin: 0;
  padding: 0;
}
body,
p,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karma", sans-serif;
  font-size: 15px;
  font-weight: 500;
}
h1 {
  font-size: x-large;
  font-weight: 500;
}
nav {
  display: flex;
  position: fixed;
  top: 0;
  height: 2vh;
  width: 100%;
  background-color: #fff;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 02vw;
}
.ham {
  background-color: #000;
  height: 0.3vh;
  width: 2vw;
  margin-top: 5px;
}
.meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 22.5px;
  order: none;
  padding: 16px 30px 16px 30px;
  margin-top: 100px;
}
.img {
  height: 310px;
  width: 210px;
}
.meal {
  text-align: center;
  max-width: 1200px;
  margin: 6px;
  line-height: 1.5;
}
p,
h1 {
  max-width: 200px;
}
.directions {
  display: flex;
  justify-content: center;
}
.number {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  color: #000;
  width: 2em;
  height: 2em;
  padding: 2px 0 2px 0;
  margin: 5px 0 5px 0;
}
.number:hover {
  background-color: #000;
  color: #fff;
}
.container,
.container2 {
  border-bottom: 3px solid whitesmoke;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container2 h1{
  padding: 2em;
}
