* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 02vw;
}
.ham{
  background-color: #000;
  height: 0.5vh;
  width: 2.5vw;
  margin: 0.3vh;
}
.meals{
  display: flex;
  flex-wrap: wrap;
  order: none;
  gap: 1em;
}
.img{
  height: 30vh;
  width: 20vh;
}
.meal{
  text-align: center;
  max-width: 20vw;
  max-height: 60vh;
}