@import url("https://fonts.googleapis.com/css2?family=Karma:wght@300&family=Montserrat:wght@100&family=Playfair+Display:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  background-color: #808080;
}
.container {
  margin: 8em;
  position: relative;
  width: 40vw;
}
nav {
  display: grid;
  background-color: #101;
  height: 3vh;
  width: 40vw;
  justify-content: left;
  grid-template-columns: auto auto auto;
  position: absolute;
  top: 0;
  padding-top: 5px;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}
.round {
  background-color: #fff;
  width: 0.5rem;
  height: 0.5rem;
  margin: 5px;
  border-radius: 50%;
}
.one h1 {
  padding-top: 4rem;
}
.main {
  padding: 0 2% 4% 2%;
  width: 96%;
  background-color: #fff;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}
.two {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  height: 20vh;
  margin-top: 2%;
}
.two img {
  height: 80%;
  margin-top: 3%;
}
.two p {
  font-size: 12px;
  font-weight: 900;
}
.long {
  padding: 7% 0 3% 0;
}
.three {
  display: grid;
  height: 10vh;
  grid-template-columns: 25% 75%;
}
.three h1 {
  font-size: 32px;
  justify-self: left;
}
.three .right {
  padding: 8%;
  justify-self: right;
  text-align: left;
}
.two .right span {
  padding-top: 1em;
}
.last {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: 2em 0 0 0.5em;
  padding: 0.5em;
  gap: 3%;
}
.last .form b{
    font-weight: bold;
    font-size: 20px;
}
.form h2{
    font-weight: 900;
    width: 100%;
    text-align: left;
}
.form{
    padding: 2%;
    border: 2px solid #000;
    text-align: left;
    height: fit-content;
    width: fit-content;
}
.extra{
    background-color: #000;
    color: #fff;
}
.btn{
    width: 80%;
    align-self: center;
    border-radius: 25px;
    margin-top: 2em;
    border-color: #000;
    padding: 0.5em;
    justify-self: center;
}
.btn:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.btn.extra:hover{
    background-color: #fff;
    color: #000;
}
.form ul{
    padding-left: 10%;
}